// $color-primary: #a1e6e3;
// $color-secondary: #eca0b6;
// $color-tertiary: #d7fffd;
// $color-tertiary-2: #fafba4;

$color-primary: #bb743f;
$color-secondary: #ebb170;
$color-tertiary: #347668;
$color-tertiary-2: #f1dbce;
$color-light: #d6d7d2;

$color-text-bold: #222222;
$color-text-light: #484949;

$color-white: #ffffff;
$color-black: #000000;

// fonts
$font-sen: "Sen", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$width-lg: 111.9rem;

$font-size-sm: 1.6rem;
$font-size: 1.8rem;

$font-md: 2.6rem;
$font-lg: 4.2rem;
$font-xl: 6.7rem;

// // spacing

$gap-xs: 1rem;
$gap-sm: 1.8rem;
$gap-md: 2.9rem;
$gap-lg: 4.7rem;
$gap-xl: 7.6rem;
