.mb-xs {
    margin-bottom: $gap-xs !important;
}

.mb-sm {
    margin-bottom: $gap-sm !important;
}

.mb-md {
    margin-bottom: $gap-md !important;
}

.mb-lg {
    margin-bottom: $gap-lg !important;
}

.mb-xl {
    margin-bottom: $gap-xl !important;
}
